.app-input-date {
    width: 120px !important;
}

.scrollable.sticky-cols {
    overflow-x: scroll;
    max-width: 100%;/* 高さは成り行き */
}

.scrollable.sticky-cols > table {
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
}

.scrollable .sticky {
	position: -webkit-sticky;
	position: sticky;
  left: 262px;
}


.scrollable .sticky.col:nth-child(2) {
	left: 137px;
}



.scrollable .sticky.col:first-child {
	left: 0;
}

.tx-center {
  text-align: center;
}
