.app-input-date {
    width: 120px !important;
}

.scrollable.sticky-cols {
    overflow-x: scroll;
    max-width: 100%;/* 高さは成り行き */
}

.scrollable.sticky-cols > table {
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
}

.scrollable .sticky {
	position: -webkit-sticky;
	position: sticky;	
}

tr:nth-child(odd) th {
	background-color: #ffffff;   /* 奇数行の背景色 */
}
tr:nth-child(even) th {
	background-color: #f5f5f5;   /* 偶数行の背景色 */
}

.scrollable .sticky.vio {
	background-color: #3298dc !important;   /* 1行目の背景色 */
	border: 1px solid #dbdbdb;
}


.scrollable .sticky:before{
    content: "";
    position: absolute;
	top:-1px;
	left:-1px;
    width: 100%;
    height: 100%;
	
  }

.scrollable .sticky.col:nth-child(3) {
	left: 263px;
	border: 1px solid #dbdbdb;
}


.scrollable .sticky.col:nth-child(2) {
	left: 137px;
	border: 1px solid #dbdbdb;
}


.scrollable .sticky.col:first-child {
	left: 0;
	border: 1px solid #dbdbdb;
}

.scrollable .sticky.vio:nth-child(3) {
	left: 263px;
	border: 1px solid #dbdbdb;
}


.scrollable .sticky.vio:nth-child(2) {
	left: 137px;
	border: 1px solid #dbdbdb;
}


.scrollable .sticky.vio:first-child {
	left: 0;
	border: 1px solid #dbdbdb;
}

.scrollable .sticky.blank {
	left: 0;
	border: 1px solid #dbdbdb;
}

.tx-center {
  text-align: center;
}

.topic-month {
	color:#ffffff !important;
	background-color: #3298dc !important;   /* 1行目の背景色 */
	border: 1px solid #dbdbdb;
}
	
