.app-input-date {
    width: 120px !important;
}

.scrollable.sticky-cols {
    overflow-x: scroll;
    max-width: 100%;/* 高さは成り行き */
}

.scrollable.sticky-cols > table {
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
}

.scrollable .sticky {
	background-color: ;
	position: -webkit-sticky;
	position: sticky;	
}

.scrollable .sticky:before{
    content: "";
    position: absolute;
    
    width: 100%;
    height: 100%;
	border: 1px solid #dbdbdb;
  }

.scrollable .sticky.col:nth-child(3) {
	left: 263px;
}


.scrollable .sticky.col:nth-child(2) {
	left: 137px;
}


.scrollable .sticky.col:first-child {
	left: 0;
}

.tx-center {
  text-align: center;
}
